<div class="user-manager-content">
	<h1>Edit&nbsp; <i><b>{{ user.username }}</b></i>&nbsp; information:</h1>
	<div class="container" *ngIf="!errorBE">
		<div class="content">
			<div class="form-image">
				<img [src]="user.avatar" class="usermanager-avatar-image"/>
				<div class="form-group">
					<form (ngSubmit)="changeAvatar()">
						<label for="avatar">Choose Image</label> 
						<input type="file" name="avatar" id="avatar"
								accept="image/*" (change)="onFileSelect($event)"/>
						<div class="form-element button-section">
							<button type="submit">
								<div class="bg"><span>Submit new image</span></div>
							</button>
						</div>
						<div class="image-upload-info">
							<span>
								Send a new image in format: PNG, JPG, GIF, BMP<br/>
								Max size allowed is 150KB
							</span>
						</div>
						<div id="image-error" class="image-error">
							<span id="image-error-msg">Error during upload new image</span>
						</div>
					</form>
				</div>
			</div>
			<div class="form-data">
				<form (ngSubmit)="update()">
					<div class="usermanager-form">
						<div class="form-element input-section">
							<label for="name-input">Name</label>
							<input type="text" class="usermanager-input-text" 
									id="name" name="name" [(ngModel)]="name" 
									[value]="user.name"/>
							<label for="surname-input">Surname</label>
							<input type="text" class="usermanager-input-text" 
									id="surname" name="surname" [(ngModel)]="surname"
									[value]="user.surname"/>
							<label for="country-input">Country</label>
							<input type="text" class="usermanager-input-text" 
									id="country" name="country" [(ngModel)]="country"
									[value]="user.country"/>
							<label for="country-input">Birthdate</label>
							<div class="data-birth-input">
								<input matInput [matDatepicker]="picker" [max]="maxDate"
									(dateInput)="OnDateChange($event.value)" [value]="birthdateDate"
									placeholder="Birthdate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							</div>
							<label for="email-input">Email</label>
							<input type="email" class="usermanager-input-text" 
									id="email" name="email" [(ngModel)]="email"
									[value]="user.email"/>
						</div>
						<div class="form-element button-section">
							<button type="submit" class="usermanager-btn" id="user-update-button">
								<div class="bg"><span id="user-update-button-span">Submit new fields</span></div>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="courtesy-page" *ngIf="errorBE">
		<div class="err-msg">
			<h1>Error on server</h1>
			<span>{{ errorBEMsg }}</span>
		</div>
	</div>
</div>