<header class="u-clearfix header" id="navbar">
	<div class="container">
		<nav>
			<div class="logo"><a [href]="homeUrl"><span>LOGO</span></a></div>
			
			<div *ngIf="!cookieJWT" class="login"><a [href]="loginUrl"><span>LOGIN</span></a></div>
			<div *ngIf="cookieJWT" class="logged">
				<div class="user-mngmnt">
					<a [href]="userManagementUrl">Edit user</a>
					<a [href]="homeUrl" (click)="logout()">Logout</a>
				</div>
				<img [src]="jwt.avatar" [alt]="jwt.name" />
			</div>
		</nav>
	</div>
</header>
