nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	font-size: 1.5em;
	text-shadow: 0 0 2px black;
}

nav div {
	margin: 5px 10px;
	align-self: center;
}

nav div:last-child {
	margin-left: auto;
}

.u-clearfix:after, .u-clearfix:before {
	content: '';
	display: table;
}

.u-clearfix:after {
	clear: both;
}

header {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	position: fixed;
	width: 100%;
	top: 0;
	transition: top 0.3s;
}

img {
	height: auto;
	max-height: 50px;
	border-radius: 40px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}